@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --color-primary-green: oklch(0.48 0.04 160);
  --color-primary-yellow: oklch(0.89 0.15 85);
  --color-secondary-orange: oklch(0.89 0.15 85);
  --color-secondary-beige: oklch(0.89 0.07 75);
  --color-secondary-grey: oklch(95.03% 0.0025 165.07);
  --color-secondary-brown: oklch(32.11% 0 0);

  --font-markazi: "Markazi Text", serif;
  --font-karla: "Karla", sans-serif;
}